.speed-dial {
  position: fixed;
  bottom: 16px;
  right: 16px;
  opacity: 0.4;
  transition: opacity 300ms ease-in-out;
}

.speed-dial:hover {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
