.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // TODO: remove this
  margin-bottom: 50px;
}

#contact {
  width: 50%;
  max-width: 800px;

  .submit-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;

    .submit-btn {
      min-width: 200px;
    }
  }
}

.submit-error, .submit-success {
  margin: 75px 0;
  text-align: center;
}

.submit-success {
  color: var(--primary);

  p {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  #contact {
    width: 100%;
    margin: 0 1rem;
  }

  .submit-btn {
    width: 100%;
  }
}
