#navbar {
  // background-color: #393e46;
  background-color: rgba(57, 62, 70, 0.8);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 9999;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

#navbar .logo {
  padding: 0 2em;
  -webkit-tap-highlight-color: rgba(78, 204, 163, 0.15);

  span {
    color: #fff;
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Inconsolata", monospace;
    transition: transform 150ms ease-in-out;
  }

  /* span:last-child {
    color: #4ecca3;
  }*/

  &:hover {
    span:first-child {
      transform: translateY(4px);
    }

    span:last-child {
      transform: translateY(-4px);
      transition: transform 150ms ease-in-out;
    }
  }
}

#navbar a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#navbar .right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

#navbar .ls-items {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;

  a.menu-link {
    padding: 0 1em;
  }
}

a.menu-link {
  color: #fff;
  font-family: "Inconsolata", monospace;
  transition: color 150ms ease-in-out;
  text-decoration: none;

  span {
    color: var(--primary);
    margin-right: 0.5rem;
  }

  &:hover {
    color: var(--primary) !important;
    transition: color 150ms ease-in-out;
  }
}

#navbar .menu {
  display: none;
  max-width: 0;
}

@media only screen and (max-width: 600px) {
  #navbar .ls-items {
    display: none;
    max-width: 0;
  }

  #navbar .menu {
    display: flex;
    max-width: 150px;
    margin-right: 0.75rem;
  }
}
