.experience-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  #experience {
    width: 50%;
    max-width: 800px;
  }
}

.timeline-container {
  display: flex;
  gap: 1rem;
}

.timeline {
  padding-top: 1rem;
  width: 30%;
  flex-shrink: 0;
}

.timeline-item {
  padding: 1rem;
  border-left: 2px solid #5b5b5b;
  position: relative;
  padding-top: 0;

  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #232931;
    border: 2px solid #5b5b5b;
    position: absolute;
    left: -10px;
    top: .2rem;
    z-index: 1;
    transition: border-color 0.3s ease;
  }

  &:first-child {
    border-left-color: transparent;

    &::after {
      content: "";
      position: absolute;
      left: -2px;
      top: .2rem;
      bottom: 0;
      width: 2px;
      background-color: #5b5b5b;
    }
  }

  &:last-child {
    border-left-color: transparent;

    &::after {
      content: "";
      position: absolute;
      left: -2px;
      top: 0;
      height: calc(.2rem + 15px);
      width: 2px;
      background-color: #5b5b5b;
    }
  }
}

.timeline-item {
  .title {
    font-weight: bold;
  }
  .subtitle {
    display: block;
    font-size: .8rem;
    color: var(--second-text-color); // change to use css vars
  }
  &:hover {
    &::before {
      border-color: var(--primary);
    }
  }
}