@use "./style/base";

html {
  scroll-behavior: smooth;
  scroll-padding-top: max(10%, 60px);
}

body {
  background-color: #232931;
  color: #fff;
}

* {
  -webkit-tap-highlight-color: #767a8136;
}

::selection {
  background: #474e58;
}

p {
  color: #a8aaad;

  b {
    color: #fff;
  }
}

.w-100 {
  width: 100%;
}

section {
  padding: 100px 0;

  .section-title {
    font-size: 1.7rem;
    margin: 0;
    margin-top: 0.5rem;

    span {
      color: var(--primary);
      font-family: "Inconsolata", monospace;
      font-size: 0.9em;
    }
  }
}

a.underline {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--primary);
}

a.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 1px;
  left: 0;
  background-color: var(--primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #232931;
  -webkit-box-shadow: 0 0 0 30px #393d46 inset !important;
}
