@use "./style/base";

body {
  background-color: #232931;
  color: #fff;
}

::selection {
  background: #474e58;
}

p {
  color: #a8aaad;
}

.w-100 {
  width: 100%;
}

.section {
  // min-height: 100vh;
  padding: 100px 0;

  .section-title {
    font-size: 1.7rem;
    margin: 0;

    span {
      color: var(--primary);
      font-family: "Inconsolata", monospace;
      font-size: 0.9em;
    }
  }
}
